/*
This is the css that is used for searching on the site and manual:
site/searchsite.html
help###/searchhelp.html
manual###/searchmanual.html

SamR 2025-07-02 Could reorganize to make like-selectors be grouped together.
*/
#formMain {
	min-width: 250px;
}

#searchContainer {
	background-color:white;
	margin:0 7px;
	border: 1px solid #24504b;
	border-radius: 4px;
}

#resultContainer {
	overflow: auto;
}

#textSearch {
	margin:5px 25px;
	padding-left:18px;
	padding-right:30px;
	display:inline-block;
	border-radius: 18px;
	border: 1px solid lightgray;
	font: 16px Arial,sans-serif;
	height: 34px;
}

#textSearch:focus {
	outline:none;
}

#textSearch:hover {
	box-shadow: 0px 3px 5px lightgray;
}

#searchIcon {
	width: 25px;
    height: 34px;
    background: url(../images/searchIcon.png) no-repeat scroll 0px 1px;
    background-size: 25px;
    cursor: pointer;
    margin-left: -64px;
    padding: 6px;
    vertical-align: middle;
	border: none;
}

#results {
	font-family: Roboto, sans-serif;
	padding: 3px 0px;
	overflow: auto;
	width:100%;
	line-height: 22px;
}

#results li {
	text-align:left;
	padding:0px 35px;
}

#results .linkWrapper {
	margin-bottom:0px !important;
}

#results li a {		
	text-decoration: none;
	font-size: 100%;
	color: #1a0dab;
	overflow-wrap: break-word;
}

#results li a:hover {
	text-decoration: underline !important;
}

#results li a:visited {
	color: #609;
}

#results .link {
	color: green;
	margin:0 !important;
	line-height: 1.43;
	font-size: 87.5%;
	text-decoration:none;
}

#results .link:hover {
	text-decoration: none !important;
	cursor:pointer;
}

#results .link:visited {
	color: green;
}

#results .desc {
	margin: 0;
	margin-bottom: 12px !important;
	max-width: 592px;
	color:#545454;
	line-height: 18px;
	line-height: 1.54;
	text-align: left;
}

.formLabel {
	display:inline-block;
	width:105px;
	text-align:right;
	vertical-align:top;
	padding:3px 0;
}

#pagination {
	height: 20px;
	font-size: 87.5%;
	padding-left: 200px;
	padding-bottom: 15px;
}

#pagination input[type=button] {
	background:none;
	border-style:none;
	color:#4285f4;
	margin:0px 4px;
	padding:0px 1px;
	cursor: pointer;
}

#pagination input[type=button]:hover {
	text-decoration: underline;
}

.dropDown {
	position: relative;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid lightgray;
	box-shadow: 0px 3px 5px lightgray;
}

.dropDown-items {
	position: absolute;
	border-top: none !important;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
	box-shadow: 0px 3px 5px lightgray;
	background: white;
	margin:-5px 25px;
	top: 100%;
}

.dropDown-items div {
	padding: 2px 0px;
	padding-left: 18px;
	cursor: pointer;
	background-color: #fff; 
	font: 100% Arial,sans-serif;
}

.dropDown-items div:hover {
	background-color:#E8E8E8;
}

.dropDown-items div:last-child {
	margin-bottom:18px;
}

.dropDown-active {
	background-color: #E8E8E8 !important; 
}

.totalResults {
	font-family: Roboto,Arial,sans-serif;
	color:#777;
	margin: 0 33px;
}

strong {
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.formLabel {
		display:block;
		text-align:left;
		width:inherit;
		max-width:300px;
	}
}